.navbar {
  list-style: none;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #ffffff;
}

.nav-item {
  display: inline-block;
  padding-right: 10px;
}

#home {
  width: 100vw;
  height: 100vh
}

.centered {
  margin: auto;
  width: 50%;
  padding-top: 40vh;
  text-align: center;
}

section {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
}