.navbar {
  list-style: none;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #ffffff;
}

.nav-item {
  display: inline-block;
  padding-right: 10px;
}

#home {
  width: 100vw;
  height: 100vh
}

.centered {
  margin: auto;
  width: 50%;
  padding-top: 40vh;
  text-align: center;
}

section {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
}

* {
  font-family: Roboto, sans-serif;
}

body {
  background-color: #F5F3F5;
}

h2 {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  color: white;
  background-color: #011936;
  padding: 0 10px;
}

.code {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.handwritten {
  font-family: 'Architects Daughter';
  font-weight: 700;
  text-align: center;
  padding: 10px 0;
}

.hoverable:hover {
  box-shadow: 0 0 11px #6e6e6e;
}

.carousel-caption {
  background-color: rgba(255,255,255,0.7);
  box-shadow: 0 0 11px #6e6e6e;
  color: black;
}

.carousel-inner img {
  padding: 10px;
  margin: auto;
}

.interest-card {
  max-width: 25vw;
  margin: 5px;
}

.img-carousel {
  max-width: 80%;
  min-height: 250px;
  max-height: 450px;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="interest-card"] {
    max-width: 70vw;
  }
}